@media screen and (min-width: 700px) {

    .container {
        max-width: 768px;
        padding: 0 24px;
    }

    .mobil__contact {
        display: block;
    }

    .mobil__service {
        position: relative;
        margin-left: 42px;
    }

    .mobil__service:after {
        content: "";
        position: absolute;
        left: -33px;
        bottom: 9px;
        width: 2px;
        height: 32px;
        background: #EAEAEA;
    }

    .mobil__svg,
    .menu__icon:nth-child(1) {
        margin-right: 16px;
    }

    .mobil__left:after {
        content: "";
        position: absolute;
        left: 61px;
        width: 2px;
        height: 32px;
        background: #EAEAEA;
    }

    .mobil__logo {
        margin: 0;
    }

    .mobil__burger-menu {
        margin-right: 42px;
    }

    .content {
        display: flex;
    }

    .content__article {
        padding-right: 48px;
    }

    .content__text {
        max-width: 348px;
        height: 160px;
    }

    .content__image {
        width: 360px;
    }
}

@media screen and (min-width: 900px) {
    .container {
        max-width: 1120px;
        padding: 0 30px;
    }

    .mobil,
    .main__title {
        display: none;
    }

    .menu__desktop {
        display: flex;
        justify-content: space-between;
    }

    .menu__list,
    .main__list {
        display: flex;
        list-style-type: none;
        flex-wrap: wrap;

        padding: 0;
        margin: 0;
    }

    .list-service__item {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .list-service__item:nth-child(1) {
        padding-right: 32px;
    }

    .link {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .link__span {
        padding-right: 8px;
    }

    .content {
        display: flex;
    }

    .content__article {
        width: 50%;
        overflow: none;
        padding-right: 36px;
    }

    .content__image {
        width: 50%;
    }

    .content__text {
        max-width: 100%;
        height: 100%;
    }

    .text {
        display: block;
    }
}